################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.git/

/src/.vs/
/src/*/Obj/
/src/*/Bin/

*.user
*.pubxml
