################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScoreClass/.vs
/ScoreClass/ScoreClass.Testes/obj
/ScoreClass/ScoreClass.Web/obj
/ScoreClass/ScoreClass.Web/bin
