@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
</div>

<div class="banner">
    <div class="container">
        <div class="banner-text-agile">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Carousel -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h3 class="b-w3ltxt text-capitalize mt-md-4">
                                    <span>Escola Score</span> NitCoin
                                </h3>
                                <p class="mt-2">Os pais são responsáveis pelo seus filhos</p>
                                <a class="btn btn-banner mt-md-3 mt-2 text-capitalize scroll" href="#services" role="button">explore services</a>
                            </div>
                            <!-- slider text -->
                            <div class="carousel-item">
                                <h3 class="b-w3ltxt text-capitalize mt-md-4">
                                    <span>successful </span>careers
                                </h3>
                                <p class="mt-2">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper.</p>
                                <a class="btn btn-banner mt-md-3 mt-2 text-capitalize scroll" href="#services" role="button">explore services</a>
                            </div>
                            <!-- slider text -->
                            <div class="carousel-item text-white">
                                <h3 class="b-w3ltxt  text-capitalize mt-md-4">
                                    <span>expert</span> consultants
                                </h3>
                                <p class="mt-2">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper.</p>
                                <a class="btn btn-banner mt-md-3 mt-2 text-capitalize scroll" href="#services" role="button">explore services</a>
                            </div>
                            <!-- slider text -->
                        </div>
                    </div>
                    <!-- Carousel -->
                </div>
                <div class="offset-lg-4"></div>
            </div>
        </div>
    </div>
</div>
