@model ScoreClass.Web.Models.Cadastros.Matricula
@using ScoreClass.Web.Data

@{
    Layout = "_Layout";
}

<div>
    <h4>Aluno</h4>
    <div class="table-responsive">
        @foreach (var disciplina in Repositorio.Ativo.Disciplina)
        {
        <h3><strong>@Html.DisplayFor(m => disciplina.Nome)</strong></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data e Hora</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ocorrencia in Model.Materias.FirstOrDefault(m => m.Disciplina == disciplina).Ocorrencias)
                    {
                        <tr>
                            <td>@ocorrencia.Descricao</td>
                            <td>@ocorrencia.DataHora</td>
                            <td>@ocorrencia.TipoComportamento</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>