@model IEnumerable<ScoreClass.Web.Models.Cadastros.Matricula>
@{
    Layout = "_Layout";
}


<div>
    <h4>Aluno</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matéria/Bimestre</th>
                    <th scope="col">1º</th>
                    <th scope="col">2º</th>
                    <th scope="col">3º</th>
                    <th scope="col">4º</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select(x => x.Materias))
                {
                    <tr>
                        <th scope="row"></th>
                        <td>item.Nome</td>
                        <td>item.Notas.Where(x => x.Bimestre == "1º")</td>
                        <td>item.Notas.Where(x => x.Bimestre == "2º")</td>
                        <td>item.Notas.Where(x => x.Bimestre == "3º")</td>
                        <td>item.Notas.Where(x => x.Bimestre == "4º")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>