@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layoutp";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

</div>

<div class="banner">
    <div class="container">
        <div class="banner-text-agile">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Carousel -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h3 class="b-w3ltxt text-capitalize mt-md-4">
                                    <span style="color: white">Escola Score</span> <span style="color: yellow">NitCoin</span>
                                </h3>
                                <p class="mt-2" style="color: white">
                                    PAIS E/OU RESPONSÁVEIS NA VIDA ESCOLAR DOS ESTUDANTES
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel -->
                </div>
                <div class="offset-lg-4"></div>
            </div>
        </div>
    </div>
</div>
