@model IEnumerable<ScoreClass.Web.Models.Incentivos.Fidelidade>


@{
	Layout = "_Layout";
}

<div>
	<h4>Programas disponíveis</h4>
	<div class="table-responsive">
		@foreach (var fidelidade in Model)
		{
		}
	</div>
</div>