<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoreClass.Web</title>

    <environment include="Development">
        <link href="lay/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="lay/css/style.css" rel='stylesheet' type='text/css' />
        <link href="lay/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="main-header">
        <div class="header-top text-md-left text-center">
            <div class="container">
                <div class="d-md-flex justify-content-between">
                    <p class="text-capitalize">... </p>
                    <ul class="social-iconsv2 agileinfo mt-md-0 mt-2">

                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
        <!-- /header-top-->
        <header class="main-header">
            <nav class="navbar second navbar-expand-lg navbar-light bg-light pagescrollfix">
                <div class="container">
                    <h1>
                        <a class="navbar-brand" href="index.html">
                            Gerencie seu filho
                            <span>...</span>
                        </a>
                    </h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup1"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup1">
                        <div class="navbar-nav secondfix ml-lg-auto">
                            <ul class="navbar-nav text-center">
                                <li class="nav-item active  mr-3">
                                    <a class="nav-link" href="index.html">
                                        Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item  mr-3">
                                    <a class="nav-link scroll" href="PainelPais">Painel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#services">services</a>
                                </li>
                                <li class="nav-item dropdown mr-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Aluno
                                    </a>
                                    <div class="dropdown-menu text-lg-left text-center" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item scroll nav-link" href="#explorey">Explore</a>
                                        <a class="dropdown-item scroll nav-link" href="#blog">Blog</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item scroll nav-link" href="#testi">Testimonials</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#contact">contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ScoreClass.Web</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
