@model IEnumerable<ScoreClass.Web.Models.Incentivos.Fidelidade>

@{
	Layout = "_Layout";
}

<div>
	<h4>Programas disponíveis</h4>
    <div class="table-responsive">

        @foreach (var fidelidade in Model)
        {
            <div style="border: solid; border-radius: 5px; min-height: 150px; max-width: 300px; caption-side:top; border-width: 1px;">
                <div style="border: solid; border-top-left-radius: 5px; border-top-right-radius: 5px; min-height: 30px; max-height: 30px; max-width: 300px; border-width: 1px;">
                    @fidelidade.Parceria.Nome
                </div>
                @fidelidade.Descricao <br />
                Vigência: de <b>@fidelidade.InicioVigencia.ToString("dd/MM/yyyy")</b> à <b>@fidelidade.FimVigencia.ToString("dd/MM/yyyy")</b>
                <a asp-area="" asp-action="Resgatar/@fidelidade.Parceria.Id/@fidelidade.Id" class="navbar-brand">Resgatar</a>

            </div>
            <br />
        }
        <a asp-area="" asp-action="Index" class="navbar-brand">Voltar para Parcerias</a>
    </div>
</div>